.navbar {
    display: flex;
    flex-direction: row;
    position: relative; /* Cambia esto según tus preferencias */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9vh;
    background-color: #9A3B3B; /* Color de fondo de la barra de navegación */
    color: #F2ECBE;
    z-index: 1;
    list-style: none;
    transition: background-color 0.3s; /* Agrega una transición suave para el cambio de color de fondo */
  }

.navbar h2 {
  color: #F2ECBE;

}
  .botones{
    opacity : 1;
    display: flex;
    flex-direction: row;
  }
  .botones>div{
    margin: 10px;
  }
  
  .nav-link {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .nav-link li {
    list-style: none;
  }
  
  /* Estilos para el icono de menú (las tres rayas) */
  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-icon .bar {
    width: 30px; /* Ancho de las barras del icono */
    height: 3px; /* Altura de las barras del icono */
    background-color: white; /* Color de las barras del icono */
    margin: 3px 0; /* Espacio entre las barras del icono */
  }
  
  .nav-links {
    list-style: none;
    display: none; /* Oculta los botones en la barra de navegación principal */
    align-items: center;
    margin-right: 20px; /* Espacio entre los botones y el icono */
  }
  
  .nav-links.active {
    display: flex; /* Muestra los botones solo cuando el menú está activo */
    flex-direction: column;
    position: absolute;
    top: 10vh; /* Altura de la barra de navegación */
    right: 0;
    background-color: #333; /* Color de fondo del menú desplegable */
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
  }
  
  .nav-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin: 5px 0;
  }
  .navbar.scrolled {
    background-color: #555; 
    height: 6vh;
  }